[submodule "ComfyUI"]
	path = ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI.git
[submodule "python/mlx-movie-director/vendor/mflux"]
	path = python/mlx-movie-director/vendor/mflux
	url = git@github.com:filipstrand/mflux.git
